<ion-header>
  <ion-navbar>
    <ion-title>Annonces Enregistrees</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding style="background-color:#f0f0f0;">
  <ion-refresher (ionRefresh)="dorefresh($event);">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <p class="text">Les annonces de Stage Enregistrees:</p>
  <div class="scroll comment">
  <ion-card *ngFor="let annonce of myObject">
    <!--fixer ce probleme-->
    <div id="{{annonce[1]['id']}}">
    <ion-item>
      <ion-avatar item-start>
        <img src="" class="imgreduce"><!--{{annonce[3]['photo']}}-->
      </ion-avatar>
      <strong>{{annonce[2]['titre']}}</strong>
      <p></p><!--{{annonce[3]['entrepriseName']}}-->
      <p>publiee le {{annonce[2]['publiee_le']}}</p>
      <button (click)="annonceStageDetail(annonce[1]['id'])">consulter</button>
      <button (click)="removeAnnonceEnregistre(annonce[1]['id'])">supprimer de mes annonces</button>
    </ion-item>
    <ion-card-content>
      <p>{{annonce[2]['contexte_mission']}}</p>
    </ion-card-content>
      <div class="parent">
      <label class="badge-stage stage-marketing enfant" id="enfant-A">{{annonce[2]['categorie']}}</label>
      <label class="badge-stage stage-remunere enfant" id="enfant-B">

        <p *ngIf="annonce[2]['remuneration']==false; else trueRemu">Stage Non Rémunéré</p>
        <ng-template #trueRemu>Stage Rémunéré</ng-template>
      </label>
      <label class="badge-stage stage-pre-embauche enfant" id="enfant-C">{{annonce[2]['type_stage']}}</label>
    </div>
    <div class="parent">
      <div class="col-md-2 col-sm-6 text-center" style="padding-top:8px;width:50%;">

        <strong>{{annonce[2]['ville']}}</strong><br>
        <img src="../../assets/imgs/jps.jpg" class="img1">
      </div>
      <div class="col-md-2 col-sm-6 text-center" style="padding-top:8px;width:50%;">
        <strong>{{annonce[2]['duree_stage']}} mois</strong><br>
        <span>A partir de {{annonce[2]['a_partir_de']}}</span>
      </div>
    </div>
    </div>
  </ion-card>
  </div>

  <p class="text">Les annonces d'Emploi Enregistrees:</p>
  <div class="scroll emploi">
  <ion-card *ngFor="let annonce1 of myObjectEmploi">
    <div id="{{annonce1[1]['id']}}">
      <ion-item>
        <ion-avatar item-start>
          <img src="" class="imgreduce"><!--{{annonce1[3]['photo']}}-->
        </ion-avatar>
        <strong>{{annonce1[2]['titre']}}</strong>
        <p></p><!--{{annonce1[3]['entrepriseName']}}-->
        <p>secteur activite :</p><!--{{annonce1[3]['secteurActivite']}}-->
        <p>publiee le {{annonce1[2]['publiee_le']}}</p>
        <button (click)="annonceEmploiDetail(annonce1[1]['id'])">consulter</button>
        <button (click)="removeAnnonceEmploiEnregistre(annonce1[1]['id'])">supprimer de mes annonces</button>
      </ion-item>
      <ion-card-content>
        <p>{{annonce1[2]['contexte_mission']}}</p>
      </ion-card-content>
      <div class="parent">
        <label class="badge-stage stage-marketing enfant">{{annonce1[2]['categorie']}}</label>
        <label class="badge-stage stage-pre-embauche enfant">{{annonce1[2]['niveau_etude']}}</label>
      </div>
      <div class="parent">
        <div class="col-md-2 col-sm-6 text-center" style="padding-top:8px;width:50%;">
          <strong>{{annonce1[2]['ville']}}</strong><br>
          <img src="../../assets/imgs/jps.jpg" class="img1">
        </div>
        <div class="col-md-2 col-sm-6 text-center" style="padding-top:8px;width:50%;">
          <strong>{{annonce1[2]['type_contrat']}}</strong><br>
          <span>A partir de {{annonce1[2]['a_partir_de']}}</span>
        </div>
      </div>
    </div>
  </ion-card>
  </div>
</ion-content>
