page-mes-annonces {
  .stage-remunere {
    background-color: red;
    color: white;
  }
  .stage-pre-embauche {
    background-color:darkgreen;
    color: white;
  }
  .stage-marketing {
    background-color: blue;
    color: #ffffff;
  }
  .badge-stage {
    font-size: 12px;
    border-radius: 20px;
    padding: 5px 15px;
    margin-right: 5px;
  }
  label {
    display: inline-block;
    margin-bottom: .5rem;
  }


  strong {
    font-weight: bolder;
    font-size: 20px;
  }
  .parent {
    display: flex;
    padding-left: 6px;
    padding-right: 6px;
  }

  .enfant {
    flex: 1;
  }
  .img1{
    width: 16%;
    margin-left: 30px;
  }

  .scroll{
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: relative;
    z-index: 1;
    display: block;
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    will-change: scroll-position;
    //contain: size style layout;
    max-height: 308px;
  }
  .comment{
    background-color:#161954;
  }
  .emploi{
    background-color:#161954;
  }
  .text {
    font-family: fantasy;
    font-size: large;
  }
  .imgreduce{
    border: 2px solid #161954;
    border-radius: 50%;
  }
  #searchformStagee{
    display:none;
    position: absolute;
    top: 55px;
    right: -8px;
    width: 100%;
  }
  #searchformEmploii{
    display:none;
    position: absolute;
    top: 55px;
    right: -8px;
    width: 100%;
  }
  select{
    width: 95px;
  }
  #mySelectt{
    position: absolute;
    top: 8px;
    right: 20px;
  }
  #mySelect11{
    background-color: #06358e;
    color: #fff;
    padding: 10px;
    border: 2px solid #fff;
    border-radius: 4px;
    appearance: none;
  }
  .filterSelect{
    background-color: #3d5b80;
    color: #fff;
    padding: 6px;
    border-radius: 4px;

  }
  .filter-btn{
    background-color: #080c1b;
    color: #fff;
    padding: 8px;
    border-radius: 7px;
  }
  .x {
    position: absolute;
    top: 3px;
    right: 13px;
    background: #06358e;
    color: white;

  }
}
