<ion-header>
  <ion-navbar color="macouleur">
    <ion-title>Les annonces</ion-title>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

  </ion-navbar>
  <ion-searchbar></ion-searchbar>
</ion-header>

<ion-content padding style="background-color:#f0f0f0;">
  <p class="text">Les annonces de Stage :</p>
  <div class="scroll comment">
  <ion-card *ngFor="let annonce of myObject">
    <ion-item>
      <ion-avatar item-start class="imgreduce">
        <img src="{{annonce[2]['photo']}}">
      </ion-avatar>
      <strong>{{annonce[1]['titre']}}</strong>
      <p>{{annonce[2]['entrepriseName']}}</p>
      <p>publiee le {{annonce[1]['publiee_le']}}</p>
      <button (click)="annonceDetail(annonce[0])">consulter</button>
      <button (click)="enregistrerAnnonce(annonce[0])">enregistrer</button>
    </ion-item>
    <ion-card-content>
      <p>{{annonce[1]['contexte_mission']}}</p>
    </ion-card-content>
    <div class="parent">
    <label class="badge-stage stage-marketing enfant" id="enfant-A">{{annonce[1]['categorie']}}</label>
    <label class="badge-stage stage-remunere enfant" id="enfant-B">

      <p *ngIf="annonce[1]['remuneration']==false; else trueRemu">Stage Non Rémunéré</p>
      <ng-template #trueRemu>Stage Rémunéré</ng-template>
      <!--<p *ngIf="annonce[1]['remuneration']==false">Stage Rémunéré</p>-->
    </label>
    <label class="badge-stage stage-pre-embauche enfant" id="enfant-C">{{annonce[1]['type_stage']}}</label>
    </div>
    <div class="parent">
      <div class="col-md-2 col-sm-6 text-center" style="padding-top:8px;width:50%;">

        <strong>{{annonce[1]['ville']}}</strong><br>
        <img src="../../assets/imgs/jps.jpg" class="img1">
      </div>
    <div class="col-md-2 col-sm-6 text-center" style="padding-top:8px;width:50%;">
      <strong>{{annonce[1]['duree_stage']}} mois</strong><br>
      <span>A partir de {{annonce[1]['a_partir_de']}}</span>
    </div>
  </div>
  </ion-card>
  </div>
  <p class="text">Les annonces d'Emploi :</p>
  <div class="scroll emploi">
  <ion-card *ngFor="let annonce of myObjectEmploi">
    <ion-item>
      <ion-avatar item-start>
        <img src="{{annonce[2]['photo']}}">
      </ion-avatar>
      <strong>{{annonce[1]['titre']}}</strong>
      <p>{{annonce[2]['entrepriseName']}}</p>
      <p>secteur d'activite :{{annonce[2]['secteurActivite']}}</p>
      <p>publiee le {{annonce[1]['publiee_le']}}</p>
      <button (click)="annonceDetail(annonce[0])">consulter</button>
      <button (click)="enregistrerAnnonceEmploi(annonce[0])">enregistrer</button>
    </ion-item>
    <ion-card-content>
      <p>{{annonce[1]['contexte_mission']}}</p>
    </ion-card-content>
    <div class="parent">
      <label class="badge-stage stage-marketing enfant">{{annonce[1]['categorie']}}</label>
      <label class="badge-stage stage-pre-embauche enfant">{{annonce[1]['niveau_etude']}}</label>
    </div>
    <div class="parent">
      <div class="col-md-2 col-sm-6 text-center" style="padding-top:8px;width:50%;">

        <strong>{{annonce[1]['ville']}}</strong><br>
        <img src="../../assets/imgs/jps.jpg" class="img1">
      </div>
      <div class="col-md-2 col-sm-6 text-center" style="padding-top:8px;width:50%;">
        <strong>{{annonce[1]['type_contrat']}} mois</strong><br>
        <span>A partir de {{annonce[1]['a_partir_de']}}</span>
      </div>
    </div>
  </ion-card>
  </div>
</ion-content>
