<ion-header>
  <ion-navbar color="macouleur">
    <ion-title>Poster annonce</ion-title>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>
  <ion-searchbar></ion-searchbar>
</ion-header>

<ion-content padding>

  <ion-fab right bottom>
    <button ion-fab color="dark"><ion-icon name="add"></ion-icon></button>
    <ion-fab-list side="top">
      <button ion-fab (click)="posterAnnonceStage()"><p class="button-add">stage</p></button>
      <button ion-fab (click)="posterAnnonceEmploi()"><p class="button-add">emploi</p></button>
    </ion-fab-list>
  </ion-fab>

  <h1 style="background-color: #f53d3d"> Mes Annonces de stage :</h1>
  <ion-card *ngFor="let annonce of myObject">
    <!--fixer ce probleme-->
    <div id="{{annonce[1]['id']}}">
      <ion-item>
        <ion-avatar item-start>
          <img src="{{entrepriseUser.photo}}">
        </ion-avatar>
        <strong>{{annonce[2]['titre']}}</strong>
        <p>{{entrepriseUser.entrepriseName}}</p>
        <p>publiee le {{annonce[2]['publiee_le']}}</p>
        <button (click)="annonceDetails(annonce[1]['id'])">consulter</button>
        <button (click)="removeAnnonce(annonce[1]['id'])">Delete</button>
      </ion-item>
      <ion-card-content>
        <p>{{annonce[2]['contexte_mission']}}</p>
      </ion-card-content>
      <div class="parent">
        <label class="badge-stage stage-marketing enfant" id="enfant-A">{{annonce[2]['categorie']}}</label>
        <label class="badge-stage stage-remunere enfant" id="enfant-B">

          <p *ngIf="annonce[2]['remuneration']==false; else trueRemu">Stage Non Rémunéré</p>
          <ng-template #trueRemu>Stage Rémunéré</ng-template>
          <!--<p *ngIf="annonce[1]['remuneration']==false">Stage Rémunéré</p>-->
        </label>
        <label class="badge-stage stage-pre-embauche enfant" id="enfant-C">{{annonce[2]['type_stage']}}</label>
      </div>
      <div class="parent">
        <div class="col-md-2 col-sm-6 text-center" style="padding-top:8px;width:50%;">

          <strong>{{annonce[2]['ville']}}</strong><br>
          <img src="../../assets/imgs/jps.jpg" id="img1">
        </div>
        <div class="col-md-2 col-sm-6 text-center" style="padding-top:8px;width:50%;">
          <strong>{{annonce[2]['duree_stage']}} mois</strong><br>
          <span>A partir de {{annonce[2]['a_partir_de']}}</span>
        </div>
      </div>
    </div>
  </ion-card>

<h1 style="background-color: #f53d3d">Mes Annonces d'Emploi :</h1>
  <ion-card *ngFor="let annonce1 of myObjectEmploi">
    <!--fixer ce probleme-->
    <div id="{{annonce1[1]['id']}}">
      <ion-item>
        <ion-avatar item-start>
          <img src="{{entrepriseUser.photo}}">
        </ion-avatar>
        <strong>{{annonce1[2]['titre']}}</strong>
        <p>{{entrepriseUser.entrepriseName}}</p>
        <p>Secteur d'activite :{{entrepriseUser.secteurActivite}}</p>
        <p>publiee le {{annonce1[2]['publiee_le']}}</p>
        <button (click)="annonceStageDetails(annonce1[1]['id'])">consulter</button>
        <button (click)="removeAnnonceEmploi(annonce1[1]['id'])">Delete</button>
      </ion-item>
      <ion-card-content>
        <p>{{annonce1[2]['contexte_mission']}}</p>
      </ion-card-content>
      <div class="parent">
        <label class="badge-stage stage-marketing enfant">{{annonce1[2]['categorie']}}</label>
        <label class="badge-stage stage-pre-embauche enfant">{{annonce1[2]['niveau_etude']}}</label>
      </div>
      <div class="parent">
        <div class="col-md-2 col-sm-6 text-center" style="padding-top:8px;width:50%;">
          <strong>{{annonce1[2]['ville']}}</strong><br>
          <img src="../../assets/imgs/jps.jpg" id="img11">
        </div>
        <div class="col-md-2 col-sm-6 text-center" style="padding-top:8px;width:50%;">
          <strong>{{annonce1[2]['type_contrat']}}</strong><br>
          <span>A partir de {{annonce1[2]['a_partir_de']}}</span>
        </div>
      </div>
    </div>
  </ion-card>

</ion-content>

