
<ion-header>
  <ion-navbar>
    <ion-title>UsersPage</ion-title>
  </ion-navbar>
</ion-header>

<!--Ba9i khass n9ado laffichage mzn onsepariiw les cas -->


<ion-content padding>
Entreprise:<br>
  <ion-list>
    <ion-item-sliding *ngFor="let entreprise of myObject">
      <ion-item class="comment">
        <ion-avatar item-start>
          <img src="{{entreprise[1]['photo']}}">
        </ion-avatar>
        <div>
          <h2>{{entreprise[1]['entrepriseName']}}</h2>
          <p style="white-space: pre-line">entrprise key est :
            {{entreprise[0]}}</p>
        </div>
      </ion-item>
      <ion-item-options side="right">
        <button ion-button color="primary">
          <ion-icon name="bookmark"></ion-icon>
          Enregistrer
        </button>
        <button ion-button color="secondary">
          <ion-icon name="text"></ion-icon>
          Consulter
        </button>
      </ion-item-options>
    </ion-item-sliding>
    </ion-list>
  Ensaiste :<br>
  <ion-list>
    <ion-item-sliding *ngFor="let ensaiste of myObjectEnsaiste">
      <ion-item class="comment">
        <ion-avatar item-start>
          <img src="{{ensaiste[1]['photo']}}">
        </ion-avatar>
        <div>
          <h2>{{ensaiste[1]['firstName']}} {{ensaiste[1]['lastName']}}</h2>
          <p style="white-space: pre-line">ensaiste key est :
            {{ensaiste[0]}}</p>
        </div>
      </ion-item>
      <ion-item-options side="right">
        <button ion-button color="primary" (click)="enregistrerCandidat(ensaiste[0])">
          <ion-icon name="bookmark"></ion-icon>
          Enregistrer
        </button>
        <button ion-button color="secondary">
          <ion-icon name="text"></ion-icon>
          Consulter
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

</ion-content>
