<ion-header>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

  <ion-navbar color="macouleur">
    <ion-title>Notre reseau</ion-title>    <button ion-button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
    <div id="mySelect">
      <select id="mySelect2" (change)="chooseSearch($event)">
        <option value="0">Search..</option>
        <option value="Ensaiste">Ensaiste</option>
        <option value="Entreprise">Entreprise</option>
      </select>
      <i class="fas fa-search"></i>
    </div>
  </ion-navbar>

  <div id="searchEnsaiste">
  <ion-searchbar placeholder="chercher Ensaiste.." (ionInput)="chercherEnsaiste($event)">
  </ion-searchbar>
    <button type="button" class = "x" (click)="closefilter()">X</button>
  </div>

  <div id="searchEntreprise">
  <ion-searchbar placeholder="chercher Entreprise.." (ionInput)="chercherEntreprise($event)">
  </ion-searchbar>
    <button type="button" class = "x" (click)="closefilter()">X</button>
  </div>
</ion-header>

<ion-content padding>
  <div *ngIf="isSearch==false; else trueSearch">
<p class="text">Entreprise:</p>
    <div style="color: #f53d3d;margin-top: 35px;text-align:center " *ngIf="myObject.length==0">Aucune entreprise inscrit!!</div>

    <div class="scroll">
  <ion-list>
    <ion-item-sliding *ngFor="let entreprise of myObject">
      <ion-item class="comment">
        <ion-avatar item-start>
          <img src="{{entreprise[1]['photo']}}" class="imgreduce">
        </ion-avatar>
        <div>
          <h2>{{entreprise[1]['entrepriseName']}}</h2>
          <p style="white-space: pre-line">Domain : {{entreprise[1]['secteurActivite']}}</p>
        </div>
      </ion-item>
      <ion-item-options side="right">
        <button ion-button color="primary" (click)="enregistrerEntreprise(entreprise[0])" *ngIf="userDisplayName=='ensaiste'">
          <ion-icon name="bookmark"></ion-icon>
          Enregistrer
        </button>
        <button ion-button color="secondary" (click)="consulterEntreprise(entreprise[0])" >
          <ion-icon name="text"></ion-icon>
          Consulter
        </button>
      </ion-item-options>
    </ion-item-sliding>
    </ion-list>
  </div>
  <p class="text">Ensaiste :</p>
    <div style="color: #f53d3d;margin-top: 35px;text-align:center " *ngIf="myObjectEnsaiste.length==0">Aucune ensaiste inscrit!!</div>
    <div class="scroll">
  <ion-list>
    <ion-item-sliding *ngFor="let ensaiste of myObjectEnsaiste">
      <ion-item class="comment">
        <ion-avatar item-start>
          <img src="{{ensaiste[1]['photo']}}" class="imgreduce">
        </ion-avatar>
        <div>
          <h2>{{ensaiste[1]['firstName']}} {{ensaiste[1]['lastName']}}</h2>
          <p style="white-space: pre-line">Ville : {{ensaiste[1]['city']}}</p>
        </div>
      </ion-item>
      <ion-item-options side="right">
        <button ion-button color="primary" (click)="enregistrerCandidat(ensaiste[0])" *ngIf="userDisplayName=='entreprise'">
          <ion-icon name="bookmark"></ion-icon>
          Enregistrer
        </button>
        <button ion-button color="secondary" (click)="consulterEnsaiste(ensaiste[0])">
          <ion-icon name="text"></ion-icon>
          Consulter
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  </div>
  </div>
  <ng-template #trueSearch>
    <div *ngIf="isEnsaisteSearch==false; else trueEnsaisteSearch" class="templat">
      <div style="color: #f53d3d;margin-top: 35px;text-align:center " *ngIf="searchTab.length==0">We couldn't find anything for <b>{{searchName}}</b></div>
      <ion-list>
      <ion-item-sliding *ngFor="let entreprise of searchTab">
        <ion-item class="comment">
          <ion-avatar item-start>
            <img src="{{entreprise[1]['photo']}}" class="imgreduce">
          </ion-avatar>
          <div>
            <h2>{{entreprise[1]['entrepriseName']}}</h2>
            <p style="white-space: pre-line">Domain : {{entreprise[1]['secteurActivite']}}</p>
          </div>
        </ion-item>
        <ion-item-options side="right">
          <button ion-button color="primary" (click)="enregistrerEntreprise(entreprise[0])" *ngIf="userDisplayName=='ensaiste'">
            <ion-icon name="bookmark"></ion-icon>
            Enregistrer
          </button>
          <button ion-button color="secondary" (click)="consulterEntreprise(entreprise[0])" >
            <ion-icon name="text"></ion-icon>
            Consulter
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
    </div>
    <ng-template #trueEnsaisteSearch>
      <div style="color: #f53d3d;margin-top: 35px;text-align:center " *ngIf="searchTab.length==0">We couldn't find anything for <b>{{searchName}}</b></div>
      <ion-list class="templat">
        <ion-item-sliding *ngFor="let ensaiste of searchTab">
          <ion-item class="comment">
            <ion-avatar item-start>
              <img src="{{ensaiste[1]['photo']}}" class="imgreduce">
            </ion-avatar>
            <div>
              <h2>{{ensaiste[1]['firstName']}} {{ensaiste[1]['lastName']}}</h2>
              <p style="white-space: pre-line">Ville : {{ensaiste[1]['city']}}</p>
            </div>
          </ion-item>
          <ion-item-options side="right">
            <button ion-button color="primary" (click)="enregistrerCandidat(ensaiste[0])" *ngIf="userDisplayName=='entreprise'">
              <ion-icon name="bookmark"></ion-icon>
              Enregistrer
            </button>
            <button ion-button color="secondary" (click)="consulterEnsaiste(ensaiste[0])">
              <ion-icon name="text"></ion-icon>
              Consulter
            </button>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
    </ng-template>
  </ng-template>
</ion-content>
