<ion-header>
  <ion-navbar color="macouleur">
    <ion-title>EntrepriseEnregistreePage</ion-title>
  </ion-navbar>
  <ion-searchbar placeholder="chercher Ensaiste.." (ionInput)="chercherEntrepriseEnregistree($event)">
  </ion-searchbar>
</ion-header>

<ion-content padding>
  <div *ngIf="isSearch==false; else trueSearch">
  <p class="text">Entreprise Enregistree :</p>
    <div style="color: #f53d3d;margin-top: 35px;text-align:center " *ngIf="myObject.length==0">Pas d'entreprise enregistree!!</div>
    <ion-list>
    <ion-item-sliding *ngFor="let entreprise of myObject">
      <ion-item class="comment">
        <ion-avatar item-start>
          <img src="{{entreprise[2]['photo']}}" class="imgreduce">
        </ion-avatar>
        <div>
          <h2>{{entreprise[2]['entrepriseName']}}</h2>
          <p style="white-space: pre-line">entrprise key est :
            {{entreprise[1]['id']}}</p>
        </div>
      </ion-item>
      <ion-item-options side="right">
        <button ion-button color="primary" (click)="removeEntrepriseEnregistre(entreprise[0])">
          <ion-icon name="trash"></ion-icon>
          Delete
        </button>
        <button ion-button color="secondary" (click)="entrepriseDetails(entreprise[0])" >
          <ion-icon name="text"></ion-icon>
          Consulter
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  </div>
  <ng-template #trueSearch>
    <div style="color: #f53d3d;margin-top: 35px;text-align:center " *ngIf="searchTab.length==0">We couldn't find anything for <b>{{searchName}}</b></div>
    <ion-list>
      <ion-item-sliding *ngFor="let entreprise of searchTab">
        <ion-item class="comment">
          <ion-avatar item-start>
            <img src="{{entreprise[2]['photo']}}" class="imgreduce">
          </ion-avatar>
          <div>
            <h2>{{entreprise[2]['entrepriseName']}}</h2>
            <p style="white-space: pre-line">entrprise key est :
              {{entreprise[1]['id']}}</p>
          </div>
        </ion-item>
        <ion-item-options side="right">
          <button ion-button color="primary" (click)="removeEntrepriseEnregistre(entreprise[0])">
            <ion-icon name="trash"></ion-icon>
            Delete
          </button>
          <button ion-button color="secondary" (click)="entrepriseDetails(entreprise[0])" >
            <ion-icon name="text"></ion-icon>
            Consulter
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>

  </ng-template>
</ion-content>
