<ion-header>
  <ion-navbar color="macouleur" *ngIf="id=='true'; else falseid">
    <ion-title>Mon profile</ion-title>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>
  <ng-template #falseid>
    <ion-navbar color="macouleur">
      <ion-title>{{entrepriseUser.entrepriseName}}</ion-title>
    </ion-navbar>
  </ng-template>
</ion-header>
<ion-content class="back" padding>
  <ion-fab padding="" (click)="change()" *ngIf="id=='true'"><button ion-fab><ion-icon  name="settings" ></ion-icon></button></ion-fab>
  <ion-card>
    <ion-row><ion-col><img class="image" src="{{entrepriseUser.photo}}"></ion-col>
      <ion-col style="padding-top: 30px;" text-center="">
        <strong style="font-size: 17px;">{{entrepriseUser.entrepriseName}}</strong>
        <p>{{entrepriseUser.secteurActivite}}</p>
        <p>{{entrepriseUser.city}}</p>
        <p>{{entrepriseUser.email}}</p>
        <p>{{entrepriseUser.phone}}</p>
      </ion-col>
    </ion-row>
  </ion-card>

  <ion-card>
    <ion-title >A propos de nous:</ion-title>
    <ion-card padding="">{{entrepriseUser.description}}</ion-card>
  </ion-card>
</ion-content>
