page-annonce-emploi-details {
  .scroll{
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: relative;
    z-index: 1;
    display: block;
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    will-change: scroll-position;
   // contain: size style layout;
    max-height: 200px;
  }
  .imgreduce{
    border: 2px solid #161954;
    border-radius: 50%;
  }
  .text {
    font-family: fantasy;
    font-size: large;
  }
}
